.Rproj.user
.Rhistory
.RData
.Ruserdata
*.pdf
.DS_Store
archive/data-raw/
analysis/data-raw/
analysis/pdf_download/
*.pdf
.DS_Store
archive/data-raw/
analysis/data-raw/
analysis/pdf_download/
*.pdf
.DS_Store
archive/data-raw/
analysis/data-raw/
analysis/pdf_download/
